<% content_for :my_content do %>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :email, 'Email Address' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Email Address', value: '' %>
    </div>

    <div class="text-right mt-4">
      <%= f.submit "Send me reset password instructions", class: "btn btn-primary fw-700 fs-18 text-uppercase border-radius-100 line-height-normal px-3 py-2" %>
    </div>
  <% end %>
<% end %>
